<div class="col-lg-12">
  <h3>{{page_title}}</h3>
  <hr>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Título</th>
        <th>Fecha</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Título</td>
        <td>Fecha</td>
        <td>
          <a href="#" class="btn btn-sm btn-warning mr-2">Editar</a>
          <a href="#" class="btn btn-sm btn-danger mr-2">Borrar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>